body {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 39, 39);
  color: white;
}
#mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#navMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  height: 10%;
  background-color: #666;
  border-radius: 0 0 15px 15px;
}
.navButton,
.activePageButton {
  height: 90%;
  width: 300px;
  border-radius: 0 0 15px 15px;
  background-color: #ff9131;
  border: 1px solid #444;
}
.activePageButton {
  background-color: #ff586e;
}
.activePageButton:hover {
  background-color: #cc253b;
  color: white;
}
.navButton:hover {
  background-color: #c06719;
  color: white;
}
#contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2vh;
  width: 80%;
  height: 80%;
  background-color: #666;
  border-radius: 15px;
  padding-top: 30px;
}
.dbContent {
  width: 90%;
  height: 60%;
  background-color: #444;
  border-radius: 15px;
  margin-bottom: 20px;
}
#buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.managementButtons {
  width: 250px;
  height: 80px;
  border-radius: 12px;
  border: 1px solid #444;
}
#removeItem {
  background-color: #ff0000;
}
#removeItem:hover {
  background-color: #a80000;
  color: white;
}
#itemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}
.itemContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#popUpWindow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#popUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50vw;
  height: 50vh;
  background-color: rgb(134, 131, 131);
  border: 1px solid black;
  border-radius: 15px;
}
#closePopUpButton {
  align-self: flex-end;
  height: 30px;
  width: 30px;
  margin: 10px 10px 0 0;
  border: 1px solid red;
  background-color: red;
  color: rgb(179, 0, 0);
  border-radius: 25px;
}
#closePopUpButton:hover {
  color: black;
}
.addItemForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  padding: 15px;
}
#submitButton {
  margin-top: 20px;
  height: 30px;
}
